
// 1. Tag               ============

.tag-wrapper{
  background: white;
  width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 30px 40px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.4);
}

.tag{
  display: inline-block;
  position: relative;
  margin: 5px 10px 5px 0px;
}

.tag input[type=checkbox]{
  opacity: 0;
  position: absolute;
  z-index: 300;
  cursor: pointer;
  left: 0;
  width: 100%;
  height: 100%;
  
  &:hover + label{
    background: lighten(@blue, 7%);
  }
}

.tag label{
  padding: 7px 34px 6px 18px;
  position: relative;
  z-index: 200;
  color: white;
  display: block;
  border-radius: 16px;
  background: @blue;
  transition: all @timing ease-in;
}

.tag .fa{
  position: absolute;
  z-index: 250;
  right: 11px;
  top: 9px;
  color: white;
  line-height: 0.95;
}

.tag .fa-check{
  display: none;
  top: 8px;
  right: 10px;
  transition: all @timing ease-in;
} 
